html{
    font-family: 'Courier New', Courier, monospace;
}
#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.container{
    display: flex;
    
    
    border: 5px black double;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.date{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#day, #month {
    padding-right: 30px;;
    /* border: 5px green dashed; */
}

#goal{
    flex-grow: 1;
    /* border: 5px green dashed; */
}

.text{
    letter-spacing: 3px;
}

#schedule {
    /* border: 5px red double; */
    width: 30%;
    height: auto;
    margin: 2px;
    
}

#schedule p {
    padding-left: 8%;
}

#schedule li{
    list-style: none;
    padding-bottom: 5px;
    column-gap: 10px;
    padding-right: 10px;
}

#to-do-notes-parent {
    display: flex;
    flex-direction: column;
    /* border: 1px green solid; */
    width: 70%;
    
    margin-left: 10px;
    

}

#to-do-list, #notes {
    border: 1px black solid;
    height: 50%;
    margin: 2px;
    
}