html{
    font-family: 'Courier New', Courier, monospace;
}
#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.container{
    display: flex;
    align-items: center;
    
    border: 5px black double;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.date{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

#day, #month {
    padding-right: 30px;;
    /* border: 5px green dashed; */
}

#goal{
    flex-grow: 1;
    /* border: 5px green dashed; */
}

.text{
    letter-spacing: 3px;
}
